.button_save {
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.05em 0.5em;
    border: mediumspringgreen solid 0.15em;
    border-radius: 0.25em;
    color: mediumspringgreen;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms;
    user-select: none;
  }
  
  .button_save p {
    z-index: 1;
  }
  
  .button_save:hover {
    color: #212121;
  }
  
  .button_save:active {
    border-color: teal;
  }
  
  .button_save::after, .button_save::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: mediumspringgreen;
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
  }
  
  .button_save::before {
    left: 0;
    transform: translateX(-8em);
  }
  
  .button_save::after {
    right: 0;
    transform: translateX(8em);
  }
  
  .button_save:hover:before {
    transform: translateX(-1em);
  }
  
  .button_save:hover:after {
    transform: translateX(1em);
  }
  
  .button_save:active:before,
  .button_save:active:after {
    background: teal;
  }

  .rounded-image {

    width: 190px;

    height: 190px;

    border-radius: 50%;

    object-fit: cover;


}

/* Ẩn file input */
.d-none {
  display: none;
}
/* Bổ sung thêm style cho label nếu muốn */
label[for="fileInput"] {
  cursor: pointer;
}
