body {
    font-family: Arial, sans-serif;
    background-color: var(--bs-secondary-bg-subtle) !important;
}
.header {
    background-color: #343a40;
    color: #fff;
}
.header .nav-link {
    color: #fff;
}
.header .nav-link:hover {
    color: #ffc107;
}
.header .dropdown-menu {
    background-color: #343a40;
    color: #fff;
}
.header .dropdown-menu .dropdown-item {
    color: #fff;
}
.header .dropdown-menu .dropdown-item:hover {
    background-color: #495057;
}
.body {
    padding-top: 92px;
}
.text-md-center {
    color: #343a40;
}
.carousel-item img {
    max-height: 500px;
    object-fit: cover;
}
.btn-outline-secondary {
    color: #343a40;
    border-color: #343a40;
}
.btn-outline-secondary:hover {
    background-color: #343a40;
    color: #fff;
}
.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}
.btn-outline-success:hover {
    background-color: #28a745;
    color: #fff;
}
.modal-header {
    background-color: #343a40;
    color: #fff;
}
.modal-footer .btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}