.d-none {
    display: none;
}

#imageList {
    display: flex;
    flex-direction: column;
}

.image-item {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.image-item img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.Point {
    text-align: center;
    padding-left: 13px;
    height: 35px;
    line-height: 20px;
    font-size: 16px;
    color: red;
    width: 50px; /* Kích thước mặc định khi không được chọn */
    transition: width 0.3s ease; /* Hiệu ứng chuyển đổi khi thay đổi kích thước */
}

.Point:focus {
    width: 100px; /* Kích thước khi được chọn */
}