.overlay {

    position: absolute;

    top: 0;

    left: 0;

    height: 100%;

    width: 100%;

    background-color: var(--bs-secondary-bg-subtle) !important;

    z-index: -1; /* Đảm bảo lớp phủ ở phía sau nội dung body */

}