

.shedule_item i:hover {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #ffafb0;
    cursor: pointer;
}

.edit_btn:hover {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #ffafb0;
    cursor: pointer;
}

.add_btn:hover {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #ffafb0;
    cursor: pointer;
}